# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.exp

# Executables
*.exe
*.out
*.app

# Vim files
*.swp
*.vim
*~

# Automatic dependency files
*.d

# Visual Studio files
*.idb

# Temporary files
.*

# Image files
*.png
*.gif

# Python pre-compiled files
*.pyc

# Testing results
*/test_results/*

# Documentation
doc/*

